body
  table(id="main-table", title="Twitch Streamers")
    th Twitch Streamers Status!
    tr
      td.firstRow
        .cell.firstCell#all All
        .cell.active#online Online
        .cell.inactive#offline Offline
  